:root {
  --primary-color: #C6C5C6;
  --secondary-color: #090A09;
}


body{
  height: 100vh;
  width: 100vw;
  background-color: var(--secondary-color);
  color: var(--primary-color);

  display: grid;
  place-items: center;
}

.App {
  text-align: center;
}